{% if data %}
    <url>
        {% for q in data %}
            <li><a href="{% url 'polls:detail' q.id %}">{{ q.question_text }}</a></li>
        {% endfor %}
    </url>
{% else %}
    <p>No polls are available.</p>
{% endif %}